h1 {
    color: #3ca686;
}
body {

    background: rgb(7,13,29);
    width: 20%;
    color: #c8ccd7;
    font-size: 130%;
}
#poleschedule {
                background-color: #18191e;
                alignment: center;
                border-radius: 2em; /* Радиус скругления */
}
a {
   color: #1683dc;
}